/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body{
  background-color: #EAEAEA !important;
}
.ui.inverted.top.fixed.menu{
  /* background-color: #fdf8f8 !important; */
  background-image: linear-gradient(315deg, #fdf8f8 0%, #E0C3FC 49%, #6dc1f5 100%) !important;
}

.react-calendar{
  width: 100%;
  border: none;
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
  background: #fff;
}

.react-datepicker-wrapper{
  width: 100%;
}

.mainHeader{
  /* background-color: #8EC5FC !important;
  background-image: linear-gradient(62deg, #8EC5FC 36%, #E0C3FC 99%) !important; */
  background-color: #fdf8f8 !important;
  background-image: linear-gradient(315deg, #fdf8f8 0%, #E0C3FC 49%, #6dc1f5 100%) !important;

  height: 100vh;
  display: flex;
  align-items: center;
}
